*
!alma_nearby_search.py
!README.md
!.gitignore
!structure.txt
!pyproject.toml
!LICENSE
!src/
!src/**
!tests/
!tests/**
!docs/
!docs/**
!examples/
!examples/**
!.readthedocs.yaml
src/**/__pycache__/
src/**/*.pyc
src/*.egg-info/
tests/**/__pycache__/
tests/**/*.pyc
docs/_build/
